<div class="row d-flex justify-content-center">
    <h3>My Club</h3>
    <br>
    <h5 class="mt-5">Normal Skills</h5>
    <%= video_tag "homepage_test.mov", size: "640x360", controls: true %>
    <h5 class="mt-5">Hidden Skills</h5>
    <%= video_tag "homepage_test.mov", size: "640x360", controls: true %>
</div>