<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <h3>FAQ - The FTW Playtest</h3>
    <br>
    <h4>What is a PBEM?</h4>
    <h6>A Play-By-Email (PBEM) game is a form of interactive strategy game that allows players to manage and compete in simulated football matches through email or other digital media. These games typically involve managing a virtual soccer team, making tactical decisions, and competing against other players' teams in a turn-based format.</h6>
    <h6>Players receive reports and updates on their teams via email, allowing them to make strategic decisions for their teams' performance in the game.</h6>
    <h6>PBEM games have a rich history, with the concept of play-by-mail (PBM) games, including soccer management games, dating back several decades. These games have evolved from traditional postal mail formats to include email and other digital formats, providing players with greater convenience and accessibility.</h6>
    <br>
    <h4>What will happen during the playtest?</h4>
    <h6>During the playtest, you will be able to manage a club in a league with other managers.  You will be able to buy and sell players, set tactics and formations, and compete in matches.</h6>
    <h6>You can perform player actions and improve your club.</h6>
    <h6>There will be a number of features that are not yet available, and you will be able to see the roadmap of features that are coming soon.</h6>
    <h6>The main aim of the playtest is to catch and fix every bug, to tweak the parameters in the match engine to make sure we get accurate and realistic results and to get feedback on the game from the managers on the current features and all the features they would like to see in the game.</h6>
    <br>
    <h4>Do Financial Fair Play rules exist in the game?</h4>
    <h6>No (and yes) - We do have some rules regarding club finances.  You can use the resources of the club to buy whoever you want, or more accurately, can!</h6>
    <h6>There is no transfer window and no limit on the number of players you can have in your squad.</h6>
    <h6>However, you will be penalized if you have a negative bank balance for more than three weeks.  The directors and league take a very dim view of this and will sell 3 of your players each week, starting with the lowest skilled, until you have a healthy bank balance again.</h6>
    <br>
    <h4>How often are the turns processed?</h4>
    <h6>Weekly, on a Wednesday at 12pm</h6>
    <br>
    <h4>How do I manage a club?</h4>
    <h6>First, you sign up for an account.</h6>
    <h6>Once you have done this you can go to the help pages where you can take over an existing club or create a new one, it's that easy.</h6>
    <h6>For the playtest, only one club can be assigned to a user account.  You can manager more than one club by using another email address, but you cannot manage two teams in the same league</h6>
    <br>
    <h4>What is our policy on cheating?</h4>
    <h6>There are many tricks that have been tried over the years in order to cheat in PBEMs- the commonist one being that a manager takes two clubs and sells from one to the other.</h6>
    <h6>We do have robust systems that can check on such things and even verify who is logged in to each account and such behaviour becomes quite easy to spot.</h6>
    <h6>The very essence of PBEMs is about the community we create and we ask all managerds to respect each other.</h6>
    <h6>Of course, we will not tolerate cheating and the Games Masters reserve the right to take any action if we feel that managers are abusing the game.</h6>
    <br>
    <h4>What input do we want from the manager?</h4>
    <h6>All the input.  The game is in the playtest stage and we need to know about everything you spot that you think needs looking at.</h6>
    <h6>This might be anything from a spelling mistake to a visual bug, from a match engine issue to missing features.</h6>
    <h6>We welcome every bit of feedback you have and will do our best to include every feature you request!</h6>
  </div>
</div>

