<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <h3>FTW Roadmap</h3>
    <br>
    <p>This is a very short draft document and many more things will be added to this in the coming weeks.</p>
    <h4>These are some of the features that are coming soon:</h4>
    <br>
    <h5>Ability to grow the fanbase</h5>
    <h5>Substitutaions</h5>
    <h5>Loan Players</h5>
    <h5>Cards during games</h5>
    <h5>Injuries during games</h5>
    <h5>The ability to recall, edit, and resubmit turnsheets</h5>
    <h5>Scouting</h5>
    <h5>Player Morale</h5>
    <h5>Club Sponsorship</h5>
    <h5>Club Youth Academy</h5>
    <h5>The ability to 'build' your turnsheet from all over the website</h5>
  </div>
</div>
