<div>
  <h3 class="text-center">Finance Messages</h3>
  <div id="messages">
    <% if @messages_finance.present? %>
      <table class="table table-hover align-middle">
        <tbody>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Message</th>
          </tr>
          <% @messages_finance.sort_by { |message| message.week.to_i }.reverse.each do |message| %>
            <tr scope="row">
              <td><%= message.week %></td>
              <td><%= message.var1 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No messages found.</p>
    <% end %>
  </div>
</div>
