<div>
  <h3 class="text-center">New Messages</h3>
  <div id="messages">
      <table class="table table-hover align-middle">
        <tbody>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Message</th>
          </tr>
          <% @messages_new.each do |message| %>
            <tr scope="row">
              <td><%= message.week %></td>
              <td><%= message.var1 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
