<h1>Editing club</h1>

<%= render "form", club: @club %>

<div>
  <%= link_to "Show this club", @club, class: "btn btn-sm btn-primary" %>
  <%= link_to "Back to clubs", clubs_path, class: "btn btn-sm btn-primary" %>
</div>
