<p style="color: green"><%= notice %></p>
<h1>Clubs</h1>
<br>
<br>
<%= link_to "Click here a create a new club", new_club_path %>
<br>
<br>
<div id="clubs">
  
    <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Abbreviation</th>
        <th scope="col">Action</th>
      </tr>
      <tr scope="row">
        <% @clubs.each do |club| %>
            <%= render club %>
        <% end %>
      </tr>
    </tbody>
  </table>
  
  

</div>


