<p style="color: green"><%= notice %></p>
<h1>Clubs</h1>
<br>
<br>
<%= link_to "Click here a create a new club", new_club_path %>
<br>
<br>
<div id="clubs">
  
    <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        <th>Action</th>
      </tr>
      <tr>
        <% @clubs.each do |club| %>
            <%= render club %>
        <% end %>
      </tr>
    </tbody>
  </table>
  
  

</div>


