<div class="col-8 m-auto mb-5">
  <h1 class="text-center">Game Roadmap</h1>
  <p class="p-2">The following is a roadmap of the features and updates planned for the FTW platform. This roadmap is subject to change based on user feedback, development progress, and other factors. We will update this page regularly to keep you informed of our progress and upcoming releases.</p>
  <h6 class="p-2 text-center">Current Roadmap Features</h6>
  <ul class="list-group">
    <li class="list-group-item">Scouting Players</li>
    <li class="list-group-item">Friendlies</li>
    <li class="list-group-item">Cards, Sendings Off and Suspensions</li>
    <li class="list-group-item">Substitutions</li>
    <li class="list-group-item">Random Events</li>
    <li class="list-group-item">Manager Press Conference</li>
    <li class="list-group-item">Personalisation Features</li>
    <li class="list-group-item">Sponsorship Deals
      <ul>
        <li>Season Long</li>
        <li>Short Term</li>
      </ul>
    </li>
    <li class="list-group-item">Additional Match Tactics</li>
  </ul>
</div>