<h3 class="m-3">The turn was completed and is now live on the website</h3>

<p class="m-3">You can view the turn report by clicking the link below and then selecting the week you wish to review.</p>

<%= link_to "View Turn Report", "https://ftw-pbem.com/turn_report", target: "_blank", rel: "noopener" %>

<p class="m-3">Alternativly, got straight to your club to see how you got on.</p>

<%= link_to "View my club", "https://ftw-pbem.com/clubs/manager/club_view", target: "_blank", rel: "noopener" %>

<p class="m-3">Thank you for playing!</p>

<p class="m-3">FTW PBEM</p>