<h3 class="m-3">Your turn was submitted and is ready for processing</h3>

<p class="m-3">You can review all of your turnsheets by clicking on the link below.</p>

<%= link_to "View Turnsheets", "https://ftw-pbem.com/turnsheets", target: "_blank", rel: "noopener" %>

<p class="m-3">If you want to submit a new turnsheet click below.</p>

<%= link_to "New Turnsheet", "https://ftw-pbem.com/turnsheets/new", target: "_blank", rel: "noopener" %>

<p class="m-3">To view your club click below.</p>

<%= link_to "View my Club", "https://ftw-pbem.com/clubs/manager/club_view", target: "_blank", rel: "noopener" %>

<p class="m-3">Thank you for playing!</p>

<p class="m-3">FTW PBEM</p>
