<div id="<%= dom_id game_param %>">
  <p>
    <strong>Chance factor:</strong>
    <%= game_param.chance_factor %>
  </p>

  <p>
    <strong>Midfield on attack:</strong>
    <%= game_param.midfield_on_attack %>
  </p>

</div>
