<h1>Editing squad action</h1>

<%= render "form", squad_action: @squad_action %>

<br>

<div>
  <%= link_to "Show this squad action", @squad_action %> |
  <%= link_to "Back to squad actions", squad_actions_path %>
</div>
