<div class="container">
  <div class="row">
    <div class="col-10">
      <h3 class="text-center mb-5">Turn Actions</h3>
      <%= link_to "Click here a create a new turn action", new_turn_path, class: "btn btn-sm btn-primary" %>
      <div id="turns">
        <table class="table table-hover align-middle">
          <tbody>
            <tr>
              <th scope="col">Week</th>
              <th scope="col">Club</th>
              <th scope="col">var1</th>
              <th scope="col">var2</th>
              <th scope="col">var3</th>
              <th scope="col">var4</th>
              <th scope="col">Action</th>
              <th scope="col">Date Processed</th>
            </tr>
            <tr scope="row">
              <% @turn_actions.each do |turn| %>
                <% if turn.week.to_s == params[:week] %>
                <%= render turn %>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
