<h1>Editing action</h1>

<%= render "form", turn: @turn %>

<div>
  <%= button_to "Destroy this action", @turn, method: :delete, class: "btn btn-sm btn-danger" %>
  <%= link_to "Back to actions", turns_path, class: "btn btn-sm btn-primary" %>
</div>
