<div class="row flex mb-5 justify-content-center">   
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light"> 
    <p>FAQ's</p>
    <p>colour code skills if trained to pot</p>
    <p>special events like community chance in monopoly</p>
    <p>loan</p>
  </div>
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">  
    <p>sponsorship</p>
    <p>ticket price</p>
    <p>cards</p>
    <p>substitutions</p>
    <p>board interactions</p>
  </div>
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light">  
    <p>turn payment system</p>
    <p>player emails/comms</p>
    <p>international management</p>
    <p>manager rating</p>
    <p>generate youth player</p>
  </div>
  <div class="col-md-2 m-3 border border-5 shadow p-0 bg-light"> 
    <p>turn payment system</p>
    <p>player emails/comms</p>
    <p>international management</p>
    <p>manager rating</p>
    <p>generate youth player</p>
  </div>
</div>
