<div class="row flex mb-5 justify-content-center">   
  <div class="col-md-10 m-3 p-5 border border-5 shadow p-0 bg-light d-flex justify-content-between"> 
    <i class="fa-solid fa-envelope"> gm@ftwpbem.com</i>
    <i class="fa-brands fa-square-whatsapp"> 07913 369369</i> 
  </div>
</div>
