<div class="row flex mb-5 justify-content-center">
  <div class="col-md-6 m-3 border border-5 shadow p-0 bg-light text-center">
    <%= image_tag("meeting.jpeg", style: "width: 50%; object-fit: cover; display: block; margin: 0 auto;") %>
    <h5 class="p-2">Every turn a live session is scheduled with the GM.  All current managers are welcome to join as is anyone who wants to find out more about the game.</h5>
    <p class="p-2">If you join a session you can ask questions and get answers in real time as well as asking for hints and tips about the game, scout for players and get inside information about your club.</p>
    <p class="p-2">These sessions are a great way to get to know the game and the GM and to meet other managers.</p>
    <p class="p-2">These sessions are recorded and available to watch on the FTW YouTube channel.</p>
  </div>
</div>