<div class="row flex mb-5 justify-content-center">  

  <div class="col-md-5 m-3 border border-5 shadow p-0 bg-light">
    <a href="<%= help_rulebook_path %>">    
    <%= image_tag("rulebook.jpg", style: "width: 100%; object-fit: cover;") %> 
    <h5>Rules of the Game</h5>
    <p>Detailed explanations for all aspects of the game</p>
    </a>
  </div>


  <div class="col-md-5 m-3 border border-5 shadow p-0 bg-light">
    <a href="<%= help_faq_path %>"> 
    <%= image_tag("faq.png", style: "width: 100%; object-fit: cover;") %>   
    <h5>FAQ's</h5>
    <p>Popular questions answered to help you get started quickly</p>
    </a>
  </div>

</div>