<div class='container col-md-10 mb-5 yellow border border-5 shadow' style="height: 375px;">
  <div class="row">
    <div class="col-md-8 p-0">
    <%= image_tag("winners-small.jpg", style: "max-height: 100%; max-width: 100%; object-fit: cover;") %>
    </div>
    <div class="col-md-4 p-0" id="breaking">
      <h3 class="lead-text">Have you got what it takes to manage a club to success?</h3>
      <div class="d-flex justify-content-center">
        <%= link_to "Create Your Club Now", help_club_creation_path, class: "col-md-5 btn btn-danger" %>
      </div>
    </div>
  </div>
</div>