<div class="container mb-5 d-flex flex-column col-md-5 blue align-items-center border border-5 shadow">
  <h2 class="text-center">Prove you can beat the best</h2>
  <%= image_tag("trophy.jpg", style: "width: 200px; object-fit: cover;") %>
  <%= link_to "Sign Up To Create Your Club Now", help_club_creation_path, class: "col-md-6 btn btn-danger" %>
</div>