<div class="welcome_div">
  <br>
  <h3>Welcome to FTW</h3>
  <h6>The football game that gives you the freedom to manage your club how you want.</h6>
  <h6>Sell who you want, buy who you want - as long as you have the money!</h6>
  <h6>No FFP, no over-reaching directors just your chance to manage the club in the best way possible!</h6>
  <br>
  <h4>Current features:</h4>
  <p>Blend</p>
  <p>Star stat</p>
  <p>Tactics</p>
  <p>Pressing</p>
  <p>Consistency</p>
  <p>Home Stadium Effect</p>
  <p>Fitness</p>
  <p>Aggression</p>
  <p>Player values and wages</p>
  <p>Buy an unmanaged player</p>
  <p>Loyalty</p>
  <p>sell player to the circuit<p>
  
  <br>
  <h4>Future features:</h4>
  <p>turn actions from club screens<p>
  <p>colour code skills if trained to pot<p>
  <p>special events like community chance in monopoly<p>
  <p>list a player<p>
  <p>loan<p>
  <p>Affect loyalty in transfer dealings</p>
  <p>Affect loyalty in player actions</p>
  <p>sell / buy a player with a managed club<p>
  <p>buy a listed player</p>
  <p>sponsorship<p>
  <p>ticket price<p>
  <p>attendance<p>
  <p>finance structure including weekly costs<p>
  <p>cards<p>
  <p>substitutions<p>
  <p>board interactions<p>
  <p>turn payment system<p>
  <p>player emails/comms<p>
  <p>international management<p>
  <p>manager rating<p>
  <p>generate youth player<p>
</div>