<br>
<h3>Welcome to FTW</h3>
<br>
<h4>Current features:</h4>
<p>Blend</p>
<p>Star stat</p>
<p>Tactics</p>
<p>Pressing</p>
<p>Consistency</p>
<p>Home Stadium Effect</p>
<p>Fitness</p>
<p>Aggression</p>
<p> </p>
<br>
<br>
<h4>Future features:</h4>
<p>turn actions from club screens<p>
<p>colour code skills if trained to pot<p>
<p>special events like community chance in monopoly<p>
<p>list a player<p>
<p>Player values</p>
<p>loan<p>
<p>sell / buy a player<p>
<p>sponsorship<p>
<p>ticket price<p>
<p>attendance<p>
<p>finance structure including weekly costs<p>
<p>cards<p>
<p>substitutions<p>
<p>board interactions<p>
<p>turn payment system<p>
<p>player emails/comms<p>
<p>international management<p>
<p>manager rating<p>
<p>generate youth player<p>