<h4 style="text-align: center">Fitness</h4>
<div class="col-md-12 align-top d-flex justify-content-center"> 
  <table class="table table-hover align-middle table-bordered">
      <tr scope="row">
        <td>Player to treat</td>
        <td>
          <%= form.label :fitness_coaching, style: "display: none" %>
          <%= form.select :fitness_coaching, @selection.map { |record| ["#{record[:name]} - Fit #{record[:fitness]}", record[:name]] }, prompt: "Select a player" %>
        </td>
      </tr>
    </table>
</div>