<h3 class="text-center">Squad Actions</h3>

<div class="col-md-12 align-top d-flex align-items-center justify-content-center">
  <%= image_tag "club.jpg", alt: "club stadium", class: "club-stadium m-2" %> 
</div>

<h5 class="text-center">Learn to Blend</h5>
<div id="blend_selection" class="col-md-12 align-top d-flex align-items-center justify-content-center">
  <button id="dfc" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center">Defenders</button>
  <button id="mid" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center">Midfielders</button>
  <button id="att" class="btn btn-sm btn-outline-primary d-flex flex-column align-items-center">Attackers</button>
</div>