<h3 class="text-center">Transfers</h3>
<div class="col-md-12 align-top d-flex align-items-center justify-content-center">
  <%= image_tag "transfers.jpg", alt: "club stadium", class: "club-stadium m-2" %>
</div>

<div>
  <h6 class="text-center mt-5">Transfer 1</h6>
  <div id="transfer_type" class="col-md-12 align-top d-flex align-items-center justify-content-center">
    <div class="btn-group" role="group" aria-label="transfer type">
      <input type="radio" name="transfer_type" id="transfer_listed" value="listed_bid" class="btn-check">
      <label for="transfer_listed" class="btn btn-outline-success">Listed Bid</label>

      <input type="radio" name="transfer_type" id="transfer_unmanaged_bid" value="unmanaged_bid" class="btn-check">
      <label for="transfer_unmanaged_bid" class="btn btn-outline-success">Unmanaged Bid</label>

      <input type="radio" name="transfer_type" id="transfer_circuit" value="circuit" class="btn-check">
      <label for="transfer_circuit" class="btn btn-outline-success">Circuit Sale</label>

      <input type="radio" name="transfer_type" id="transfer_deal" value="deal" class="btn-check">
      <label for="transfer_deal" class="btn btn-outline-success">Agreed Deal</label>
    </div>
  </div>
  <div id="transfer_detail" class="col-md-12 align-top d-flex align-items-center justify-content-center">  
    <span class="m-3"><label for="transfer_player_id">Player Id</label></span>
    <input type="number" id="transfer_player_id" name="transfer_player_id">
    
    <span class="m-3"><label for="transfer_bid_amount">Bid Amount</label></span>
    <input type="number" id="transfer_bid_amount" name="transfer_bid_amount">
    
    <span class="m-3"><label for="transfer_club">Other Club Id</label></span>
    <input type="number" id="transfer_club" name="transfer_club">
  </div>
</div>

<div>
  <h6 class="text-center mt-5">Transfer 2</h6>
  <div id="transfer_type_1" class="col-md-12 align-top d-flex align-items-center justify-content-center">
    <div class="btn-group" role="group" aria-label="transfer type 1">
      <input type="radio" name="transfer_type_1" id="transfer_listed_1" value="listed_bid" class="btn-check">
      <label for="transfer_listed_1" class="btn btn-outline-success">Listed Bid</label>

      <input type="radio" name="transfer_type_1" id="transfer_unmanaged_bid_1" value="unmanaged_bid" class="btn-check">
      <label for="transfer_unmanaged_bid_1" class="btn btn-outline-success">Unmanaged Bid</label>

      <input type="radio" name="transfer_type_1" id="transfer_circuit_1" value="circuit" class="btn-check">
      <label for="transfer_circuit_1" class="btn btn-outline-success">Circuit Sale</label>

      <input type="radio" name="transfer_type_1" id="transfer_deal_1" value="deal" class="btn-check">
      <label for="transfer_deal_1" class="btn btn-outline-success">Agreed Deal</label>
    </div>
  </div>
  <div id="transfer_detail_1" class="col-md-12 align-top d-flex align-items-center justify-content-center">  
    <span class="m-3"><label for="transfer_player_id_1">Player Id</label></span>
    <input type="number" id="transfer_player_id_1" name="transfer_player_id_1">
    
    <span class="m-3"><label for="transfer_bid_amount_1">Bid Amount</label></span>
    <input type="number" id="transfer_bid_amount_1" name="transfer_bid_amount_1">
    
    <span class="m-3"><label for="transfer_club_1">Other Club Id</label></span>
    <input type="number" id="transfer_club_1" name="transfer_club_1">
  </div>
</div>

<div>
  <h6 class="text-center mt-5">Transfer 3</h6>
  <div id="transfer_type_2" class="col-md-12 align-top d-flex align-items-center justify-content-center">
    <div class="btn-group" role="group" aria-label="transfer type 2">
      <input type="radio" name="transfer_type_2" id="transfer_listed_2" value="listed_bid" class="btn-check">
      <label for="transfer_listed_2" class="btn btn-outline-success">Listed Bid</label>

      <input type="radio" name="transfer_type_2" id="transfer_unmanaged_bid_2" value="unmanaged_bid" class="btn-check">
      <label for="transfer_unmanaged_bid_2" class="btn btn-outline-success">Unmanaged Bid</label>

      <input type="radio" name="transfer_type_2" id="transfer_circuit_2" value="circuit" class="btn-check">
      <label for="transfer_circuit_2" class="btn btn-outline-success">Circuit Sale</label>

      <input type="radio" name="transfer_type_2" id="transfer_deal_2" value="deal" class="btn-check">
      <label for="transfer_deal_2" class="btn btn-outline-success">Agreed Deal</label>
    </div>
  </div>
  <div id="transfer_detail_2" class="col-md-12 align-top d-flex align-items-center justify-content-center">  
    <span class="m-3"><label for="transfer_player_id_2">Player Id</label></span>
    <input type="number" id="transfer_player_id_2" name="transfer_player_id_2">
    
    <span class="m-3"><label for="transfer_bid_amount_2">Bid Amount</label></span>
    <input type="number" id="transfer_bid_amount_2" name="transfer_bid_amount_2">
    
    <span class="m-3"><label for="transfer_club_2">Other Club Id</label></span>
    <input type="number" id="transfer_club_2" name="transfer_club_2">
  </div>

<div>
  <h6 class="text-center mt-5">Transfer 4</h6>
  <div id="transfer_type_3" class="col-md-12 align-top d-flex align-items-center justify-content-center">
    <div class="btn-group" role="group" aria-label="transfer type 3">
      <input type="radio" name="transfer_type_3" id="transfer_listed_3" value="listed_bid" class="btn-check">
      <label for="transfer_listed_3" class="btn btn-outline-success">Listed Bid</label>

      <input type="radio" name="transfer_type_3" id="transfer_unmanaged_bid_3" value="unmanaged_bid" class="btn-check">
      <label for="transfer_unmanaged_bid_3" class="btn btn-outline-success">Unmanaged Bid</label>

      <input type="radio" name="transfer_type_3" id="transfer_circuit_3" value="circuit" class="btn-check">
      <label for="transfer_circuit_3" class="btn btn-outline-success">Circuit Sale</label>

      <input type="radio" name="transfer_type_3" id="transfer_deal_3" value="deal" class="btn-check">
      <label for="transfer_deal_3" class="btn btn-outline-success">Agreed Deal</label>
    </div>
  </div>
  <div id="transfer_detail_3" class="col-md-12 align-top d-flex align-items-center justify-content-center">  
    <span class="m-3"><label for="transfer_player_id_3">Player Id</label></span>
    <input type="number" id="transfer_player_id_3" name="transfer_player_id_3">
    
    <span class="m-3"><label for="transfer_bid_amount_3">Bid Amount</label></span>
    <input type="number" id="transfer_bid_amount_3" name="transfer_bid_amount_3">
    
    <span class="m-3"><label for="transfer_club_3">Other Club Id</label></span>
    <input type="number" id="transfer_club_3" name="transfer_club_3">
  </div>
</div>
