<h1>Editing turnsheet</h1>

<%= render "form", turnsheet: @turnsheet %>

<br>

<div>
  <%= link_to "Show this turnsheet", @turnsheet %> |
  <%= link_to "Back to turnsheets", turnsheets_path %>
</div>
