<p style="color: green"><%= notice %></p>

<h1>Turnsheets</h1>

<div id="turnsheets">
  <% @turnsheets.each do |turnsheet| %>
    <%= render turnsheet %>
    <p>
      <%= link_to "Show this turnsheet", turnsheet %>
    </p>
  <% end %>
</div>

<%= link_to "New turnsheet", new_turnsheet_path %>
