<h1>New turnsheet</h1>

<%= render "form", turnsheet: @turnsheet %>

<br>

<div>
  <%= button_to "Back to turnsheets", turnsheets_path, class: "btn btn-sm btn-primary"  %>
</div>

<%= javascript_pack_tag 'turnsheet' %>
