<div class="container align-items-start">
  <div class="row text-center">
    <div class="col-md-12">
      <h2><%= @club.name %></h2>
      <h5>Primary Club Color: <%= @club.color_primary %></h5>             
      <h5>Secondary Club Color: <%= @club.color_secondary %></h5>
    </div>
  </div>

  <div class="text-left">
    <%= render "fixtures" %>
    </div>
  </div>
</div>