<% @selected_club.each do |selected_club| %>
  <%= form_with(model: selected_club, local: true) do |form| %>
    <table>
    <tr>
      <td><%= form.text_field :player_id, value: selected_club.player_id %></td>
      <td><%= form.submit "Update" %></td>
    </tr>
  </table>
  <% end %>
<% end %>
