<div class="col-md-2 me-3">
<h6 class="text-center">Loyalty and Fitness</h6>
<%= column_chart [["Loyalty", @player.loyalty], ["Fitness", @player.fitness]], max: 100, width: "200px", height: "150px", colors: ["#b00", "#666"] %>
</div>