<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-8">
  <h4 class="text-center">Performances</h4>
  <%= column_chart @performance_data, xtitle: 'Match ID', ytitle: 'Performance', colors: ["#b00", "#666"] %>
  </div>
</div>