@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";

$primary: #00043b;
$danger: #d42321;
$warning: #fde000;
$border: #e2e2e2;

$theme-colors: map-merge($theme-colors, ("primary": $primary, "danger": $danger, "warning": $warning, "border": $border));

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**General Styles**/

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

#content {
  width: 100%;
  min-height: 2000px;
  display: flex;
}

main {
  width: 80%;
  min-height: 2000px;
  padding: 50px;
}

.aside-l {
  width: 10%;
  background-color: #bebebe;
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.aside-r {
  width: 10%;
  background-color: #bebebe;
  box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

/** header **/

.header {
  height: 100px;
  display: flex;
  color: white;
  font-weight: bolder;
}

.blue {
  flex: 1;
  background-color: #00043b;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  color: white;
}

.blue-body {
  flex: 1;
  background-color: #00043b;
  display: flex;
  align-items: center;
  justify-content: center;
}


.red {
  flex: 1;
  background-color: #d42321;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.red2 {
  flex: 1;
  background-color: #d42321;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.yellow {
  flex: 1;
  background-color: #fde000;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
}

/** welcome **/

#home-container {
  padding-top: 20px;
  background-color: whitesmoke;
}

#breaking {
  display: flex;
  flex-direction: column;
}

.lead-text {
  font-family: 'Kanit', sans-serif;
  padding: 20px;
  align-self: flex-start;
}

/** nav **/

.nav {
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.btn {
  margin: 10px;
}

#nav-center {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 35%;
}

/** pagination **/

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

/** table **/

th {
  width: fit-content;
  padding: 5px !important;
}

table {
  width: 80% !important;
}

.turnsheet_headers {
  padding: 20px;
}

tr.goal {
  color: darkgreen;
}

tr.chance {
  color: orange;
}

td {
  font-size: smaller;
  padding: 5px !important;
}

/** match **/

#match, #match_commentary {
  display: flex;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

#match_details {
  margin-right: 20px;
  padding: 20px;
}

#result {
  background-color: #00043b;
  color: #f1f1f1;
  border: #d42321 3px solid;
  padding: 10px;
}

/** turn **/

.col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #aaaaaa 1px solid;
  border-radius: 10px;
}

/** turnsheet **/
.row-turnsheet {
  margin: 20px;
  padding: 20px;
}

/** other **/

.align-top {
  align-self: flex-start;
}

#form-container {
  margin-bottom: 50px;
}

.field {
  margin-bottom: 30px;
}

.item {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}

/** selection **/

.gkp {
  background-color: lightgreen;
}

.dfc {
  background-color: lightblue;
}

.mid {
  background-color: lightyellow;
}

.att {
  background-color: lightcoral;
}

/** league **/

#gkp {
  display: none;
}

#dfc {
  display: none;
}

#mid {
  display: none;
}

#att {
  display: none;
}

#players {
  display: none;
}

.league_stats {
  font-size: small;
}

/** game_features section **/

#club {
  display: none;
}

#matches {
  display: none;
}
