
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

th {
  width: fit-content;
}

#match, #match_commentary {
  display: flex;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

#match_details {
  margin-right: 20px;
}

#exists {
  background-color: lightgreen;
}

#not_exists {
  background-color: red;
}

.align-top {
  align-self: flex-start;
}

.row {
  margin: 50px;
}

.btn {
  margin: 5px;
}

table {
  margin: 50px;
}

.turnsheet_headers {
  padding: 10px;
}

tr.goal {
  color: darkgreen;
}

tr.chance {
  color: orange;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  font-size: 80%;
}

.stats {
  border: 1px solid green;
  padding: 10px;
}

#form-container {
  margin-bottom: 50px;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.field {
  margin-bottom: 30px;
}

body {
  font-family: 'Dosis', sans-serif;
}

header {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  color: white;
}

footer {
  font-weight: bolder;
  text-align: center;
  background-color: #aaaaaa;
}

#content {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  font-family: 'Dosis', sans-serif;
}

.col-2 {
  height: 3200px;
  color: white;
}

.accordion {
  margin-top: 50px;
}

h2, h4 { 
  text-align: center;
}